{% extends 'base.html' %}

{% load i18n %}
{% load cropping %}

{% block content %}
    <h1>{% trans 'Dashboard' %}</h1>
    <a href="{% url 'photos:create_photo' %}">{% trans 'Add photo' %}</a>
    <ul>
        {% for photo in object_list %}
            <li>
                <a href="{{ photo.get_absolute_url }}">
                    <h3>{{ photo.title }}</h3>
                    <img src="{% cropped_thumbnail photo 'cropping' %}" alt="{{ photo.title }}">
                </a>
                <form action="{% url 'photos:delete_photo' pk=photo.pk %}"
                      method="post"
                      onsubmit='return confirm("{% blocktrans with photo_title=photo.title %}Do you really want to delete the photo \"{{ photo_title }}\"?{% endblocktrans %}");''>
                    {% csrf_token %}
                    <input type="submit" value="{% trans 'Delete' %}" />
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
