{% extends 'base.html' %}

{% load i18n %}
{% load cropping %}

{% block content %}
    <h1>{% trans 'Dashboard' %}</h1>
    <a href="{% url 'photos:create_photo' %}">{% trans 'Add photo' %}</a>
    <ul>
        {% for photo in object_list %}
            <li>
                <h3>{{ photo.title }}</h3>
                <img src="{% cropped_thumbnail photo 'cropping' %}" alt="{{ photo.title }}">
                <form action="{% url 'photos:delete_photo' pk=photo.pk %}" method="post">{% csrf_token %}
                    <input type="submit" value="{% trans 'Delete' %}" />
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
