{% extends 'base.html' %}

{% load i18n %}
{% load photos_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>{{ object.title }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <img src="{{ object.image.url }}" class="img-responsive">
    </div>
    <div class="col-sm-4">
        {% if object.report_labels %}
            <h3>Vision​ ​analysis</h3>
            {% for label in object.report_labels %}
                <p>{{ label.description }}</p>
                 <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ label.score|percentage }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ label.score|percentage }}">
                    {{ label.score|percentage }}
                    </div>
                </div>
                </tr>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}