{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h2>{{ object.title }}</h2>
    {% if object.report_labels %}
        <h3>Vision​ ​analysis</h3>
        <table>
            <tr>
                <th>{% trans 'Label' %}</th>
                <th>{% trans 'Score' %}</th>
            </tr>
        {% for label in object.report_labels %}
            <tr>
                <td>{{ label.description }}</td>
                <td>{{ label.score }}</td>
            </tr>
        {% endfor %}
        </table>
    </br>
    {% endif %}
    <img src="{{ object.image.url }}">
{% endblock %}