{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<div class="container">
    <h2>Create new photo</h2>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                <div class="col-sm-10 form-control-file">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="{% trans 'Save' %}" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>
{% endblock %}
